* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

//#page1 {     display: none;}
#left-menu {
    position: absolute;
    display: none;
    top: 70px;
    background-color: white;
    width: 35%;
    z-index: 1;
    border-right: 1px solid green;
    height: 100%;
}

.w {
    position: relative;
    font-size: 35px;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: white;
    z-index: 2;

}

#resultsp {
    position: absolute;
    top: 80px;
    width: 80%;
    left: 10%;
    z-index: 3;
    padding: 10px;
    border-radius: 10px;
    font-size: 35px;
    display: none;
}

#pclose {
    position: absolute;
    right: 10px;
    color: red;
    margin: 3px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid green;
}

.y {
    background-color: white;
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 2px 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
}

#page1,
#page2 {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.banner {
    width: 100%;
    height: 70px;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    font-weight: 900;
    color: white;
    background-color: black;
    position: fixed;
    z-index: 9999;
    font-family: 'Raleway', sans-serif;
}

.middle {
    position: relative;
    width: 40%;
    display: inline-block;
}

.left {
    position: absolute;
    left: 20px;
    width: 70px;
    display: inline-block;
}

#but1,
#but2 {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 80px;
    height: 300px;
    width: 250px;
    text-align: center;
    font-size: 70px;
    border: 1px solid black;
    line-height: 125px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}

#but1 {
    left: 10%;
}

#but2 {
    right: 10%;
}

#but2 span {
    font-size: 20px;
    position: relative;
    top: -65px;
    color: red;
}

#entradas {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 55%;
    text-align: center;
    font-size: 20px;
    overflow-y: auto;
    max-height: 40%;
    font-family: 'Raleway', sans-serif;
    padding: 0 0 10px 0;
}

#entradas button {
    padding: 10px;
    width: 40%;
    margin-top: 5px;
    background-color: bisque;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    border: none;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}

#entradas input {
    border: none;
    border-bottom: 1px solid gray;
    text-align: center;
    margin: 0px 10px;
    padding: 5px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

.name {
    position: relative;
    top: 15px;
    left: 5px;
}

input,
button {
    font-size: 20px;
}

#items {
    position: absolute;
    padding-top: 70px;
    height: 100%;
    width: 100%;
}

#items div {
    position: relative;
    font-size: 35px;
    display: inline-block;
}

.item {
    position: relative;
    width: 100%;
}

.plus,
.minus,
.num {
    position: relative;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-weight: 800;
    right: -15%;
    padding: 5px 4px;
}

.plus,
.minus {
    right: -15%;
    border-radius: 35%;
    padding: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: green;
    color: white;
    font-weight: 900;
}

.minus {
    background-color: red;
}

.name {
    width: 60%;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

ul {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
    height: 70px;
    line-height: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);

}

#check {
    width: 75px;
    min-width: 56px;
    /* override this from default button */
    height: 75px;
    font-size: 24px;
    /* position */
    position: absolute;
    bottom: 72px;
    /* tab bar size ~ margin*/
    right: 20px;
    /* circle */
    border-radius: 50%;
    background-color: darkgreen;
    text-align: center;
    line-height: 75px;
    color: white;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#trocobar {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 0px;
    height: 50px;
    padding: 15px;
    border: 1px solid black;
    width: 100%;
    line-height: 50px;
}

#trocobar input {
    width: 30%;
    border: 1px solid gray;
    border-top: none;
    text-align: center;
    padding: 5px;
    padding: 5px 15px;
    display: inline-block;
    font-size: 40px;
    margin-left: 15px;
}

#trocobar button {
    background: black;
    color: white;
    border-radius: 10px;
    border: 2px solid gray;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    padding: 5px 15px;
    display: inline-block;
    font-size: 40px;
    margin-left: 15px;
    font-family: 'Raleway', sans-serif;
}

#trocobar div {
    padding: 5px 15px;
    display: inline-block;
    font-size: 40px;
    margin-left: 15px;
    color: red;
}
